.mb-30{
    margin-bottom: 30px;
}
.error_class {
    outline: none;
    background: #e54c2a1f;
	border-color: #e54c2a;
}
.ilist:not(:last-child) {
    margin-right: -0.5rem !important;
}
li.list-inline-item span {
    color: #fff;
    background: #ee1b24;
    padding: 1px 6px;
    border-radius: 50%;
    position: relative;
    left: 26px;
    top: -9px;
    font-size: 14px;
}
a.resend {
    color: #ee1b24;
    font-weight: bold;
    float: right;
}
.inner {
    padding-top: 10%;
}
/*****Search Box******/
._3mZgT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 35px;
}
.Al5GE {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
	background: #ffffffd9;
}
	 {
    position: absolute;
    z-index: 1;
}
._3iFC5 {
    width: 100%;
    text-decoration: none;
    cursor: context-menu;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    color: #fc8019;
    letter-spacing: 0;
    color: #fff;
    background-color: #fc8019;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
    right: 0;
    height: 60px;
    line-height: 60px;
    width: 140px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .53px;
    padding: 0;
}
._2oQ4_ {
    padding: 0 5px;
    border: 1px solid #bebfc5;
    box-shadow: none;
}
._3Um38 {
    border: none;
    padding: 0;
    display: block;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
._searchbar {
    height: 58px!important;
    line-height: 28px!important;
    padding-top: 0!important;
    padding-left: 15px!important;
    padding-right: 160px!important;
    caret-color: #fc8019;
    font-size: 18px!important;
    font-weight: 500;
}
._search {
    height: 50px;
    padding-top: 0;
    font-size: 1.15rem;
}
.search {
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
._26LFr {
    -webkit-transform: translateY(70%);
    -ms-transform: translateY(70%);
    transform: translateY(70%);
}
._2EeI1 {
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
    will-change: transform;
    transition: .2s ease;
}
._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}
._1Cvlf {
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform,color,font-size;
    pointer-events: none;
    font-weight: 400;
}
._1fiQt {
    color: #535665;
}
._1fiQt, .NqZN6 {
    position: absolute;
    top: 6px;
    padding: 12px 10px;
    font-weight: 500;
    right: 0;
}
._25lQg {
    margin-right: 6px;
    top: 2px;
    position: relative;
}
[class*=" icon-"], [class^=icon-] {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-location-crosshair:before {
	font-family: icofont;
    content: "\f005";
}

#country-list {
    float: left;
    list-style: none;
    border-top: 1px solid #eee;
    padding: 0;
    width: 100%;
    position: absolute;
    max-height: 200px;
}
#country-list li {
    padding: 0px 10px 0px 40px;
    background: #ffffff;
    text-align: left;
    position: relative;
}
#country-list li i{
    position: absolute;
    top: 15px;
    left: 15px;
}
#country-list li div {
    padding: 10px;
    border-bottom: #bbb9b9 1px dashed;
    padding-left: 0;
}
#country-list li:hover {
    cursor: pointer;
    color: #fc8019;
    transition: 0.2s;
}
.veg, .nonveg {
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid #339a33;
    display: inline-block;
}
.veg:before, .nonveg:before{
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #339a33;
    border-radius: 5px; 
}
.nonveg {
    border: 1px solid #ad4728;
}
.nonveg:before {
    background: #ad4728;
}


.add-cart {
    position: fixed;
    bottom: 20%;
    left: 38%;
    z-index: 99999999;
    background: #000;
    padding: 10px 20px;
}
.add-cart-txticon {
    background: #fc8019;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    float: left;
    margin-right: 14px;
    padding: 5px;
}
.add-cart-txt {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.add-cart-txticon i {
    position: relative;
    left: 2px;
    bottom: 3px;
}

@media screen and (max-width: 500px) {
    .process {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .order .process li.list-inline-item.ilist {
        margin-right: 0;
        padding-right: 0;
        width: 49%;
        text-align: center;
        margin-bottom: 15px;
    }
    .order .process li.list-inline-item.ilist:last-child {
        max-width: none;
    }
    .hide-xxs {
        display: none !important;
    }
}